### Observations
Observation 1 - Factors other than the amount spent per student is contributing to higher performance. There is a negative    correlation between spending per student and performance.

Observation 2 - Charter schools out performed District schools even when you factor of amount spent per student.

Observation 3 - Smaller size student schools performed better than larger size schools but Charter schools never the less performed better regardless of size.

Observation 4 â€“ No socioeconomic or crime data where included which can add to the understanding of lower student performance in District schools.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
schoolfile = "Resources/schools_complete.csv"
studentfile = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school = pd.read_csv(schoolfile)
student = pd.read_csv(studentfile)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#calculate passing grades for math,reading and for overallall
math = (student["math_score"] >= 70).value_counts()[True]
p_math= round((math/len(student)*100),2)

read = (student["reading_score"] >= 70).value_counts()[True]
p_read = round((read/len(student)*100),2)

p_all = round((p_math + p_read)/2,2)

#Create dataframe and format
dist_sum = pd.DataFrame({'Total Schools': [round(len(school),2)], 
                                 'Total Students': [round(len(student),2)], 
                                 'Total Budget':[school['budget'].sum()], 
                                'Average Math score':[round(student["math_score"].mean(),2)], 
                                'Average Reading score':[round(student["reading_score"].mean(),2)],
                                     '% Passing Math':[round((math/len(student))*100,2)],
                                     '% Passing Reading':[round((read/len(student))*100,2)],
                                     '% Overall Passing Rate':[(p_all)]
                                     })

#Formatting
dist_sum['Total Budget'] = dist_sum['Total Budget'].map('$ {:,.2f}'.format)
dist_sum['Total Students'] = dist_sum['Total Students'].map('{:,.2f}'.format)

#print results with labels
dist_sum.style.set_caption('District Summary')

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
#School Name, type, total students, school budget, student budget
df_school=school.groupby(["school_name","type"])[["size","budget"]].sum().reset_index()
df_school['Per Student Budget'] = df_school['budget']/df_school['size']

#School average math and reading score
df_student=student.groupby(["school_name"])[["math_score","reading_score"]].mean().reset_index()
df_std_cnt=student.groupby(["school_name"])[["math_score"]].count().reset_index()


#count passing math
std_math_pass = student[student["math_score"] >= 70].groupby(["school_name"])["math_score"].count().reset_index()

df_student['% Passing Math'] = round((std_math_pass['math_score']/df_std_cnt['math_score']*100),2)

#count passing reading
std_read_pass = student[student["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count().reset_index()

df_student['% Passing Reading'] = round((std_read_pass['reading_score']/df_std_cnt['math_score']*100),2)

#overall passing rate
df_student['% Overall Passing Rate'] = round((df_student['% Passing Math'] + df_student['% Passing Reading'])/2,2)


#Merge school and student dataframes
df_all_data=df_school.merge(df_student, on='school_name')

#Create new dataframe called school
schools = pd.DataFrame(df_all_data)

#Label column on new dataframe

schools.columns = ['School Name','School Type','Total Students','Total School Budget','Per Student Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']
schools['Total School Budget'] = schools['Total School Budget'].map('{:,.0f}'.format)
#schools['Total Students'] = schools['Total Students'].map('{:,.0f}'.format)
schools['Average Math Score']=schools['Average Math Score'].apply(lambda x:round(x,2))
schools['Average Reading Score']=schools['Average Reading Score'].apply(lambda x:round(x,2))


schools.style.set_caption('School Summary')

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
#Print with label top 5 schools
schools.nlargest(5,"% Overall Passing Rate").style.set_caption("Top Performing Schools (By Passing Rate)")

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
#Print with label lowest 5 schools
schools.nsmallest(5,"% Overall Passing Rate").style.set_caption("Bottom Performing Schools (By Passing Rate)")

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
#Scores by Math and Grade
a_grade = student[student["grade"] == "9th"].groupby("school_name")["math_score"].mean()
b_grade = student[student["grade"] == "10th"].groupby("school_name")["math_score"].mean()
c_grade = student[student["grade"] == "11th"].groupby("school_name")["math_score"].mean()
d_grade = student[student["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Combine the series into a dataframe
math_grade = pd.DataFrame({"9th": round(a_grade,2), "10th": round(b_grade,2), "11th": round(c_grade,2), "12th": round(d_grade,2)})
math_grade = math_grade.rename_axis(['School Name'])

#Print results with label
math_grade.style.set_caption("Math Scores by Grade")

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
#Scores by reading and Grade
a_grade = student[student["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
b_grade = student[student["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
c_grade = student[student["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
d_grade = student[student["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Combine the series into a dataframe
read_grade = pd.DataFrame({"9th": round(a_grade,2), "10th": round(b_grade,2), "11th": round(c_grade,2), "12th": round(d_grade,2)})
read_grade = read_grade.rename_axis(['School Name'])

#Print results with label
math_grade.style.set_caption("Reading Scores by Grade")

In [8]:
#Testing combined dataframe for both scores
dfs = [math_grade, read_grade]

df_combined = pd.concat(
    [df.rename(columns=lambda x: x.zfill(4)) for df in dfs],
    keys=['Math Scores'.format(),'Reading Scores'.format()],
    axis=1
)

df_combined.style.set_caption("Math and Reading Scores by Grade - Testing New Table")

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
#Copy schools dataframe for modification
schools_by_spending = schools.copy()

# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#Create the bins and add column labels
spending_labels=pd.cut(schools_by_spending['Per Student Budget'], spending_bins, labels=group_names)

#Add column with labels to dataframe schools_by_spending
schools_by_spending["Spending Ranges (Per Student)"] = spending_labels

#Group by new spending ranges column
school_scores_grouped=schools_by_spending.groupby(["Spending Ranges (Per Student)"])['Average Reading Score', 'Average Math Score', '% Passing Reading', '% Passing Math','% Overall Passing Rate'].mean()

#Print results with label
school_scores_grouped.style.set_caption("Scores by School Spending")

In [10]:
#Testing numpy array method with different ranges

#Copy schools dataframe for modification
schools_by_spending = schools.copy()

#Using numpy array method
titles = np.array(['0 to 600', '600 to 625', '625 to 650', '650 to 675','675 to 700'])

schools_by_spending['Per Student Budget'] = pd.cut(schools_by_spending['Per Student Budget'], 5, labels=titles )


school_scores_grouped=schools_by_spending.groupby(['Per Student Budget'])['Average Reading Score', 'Average Math Score', '% Passing Reading', '% Passing Math','% Overall Passing Rate'].mean()

school_scores_grouped.style.set_caption("Scores by School Spending - Using Numpy array")

## Scores by School Size

* Perform the same operations as above, based on school size.

In [11]:
schools_by_size = schools.copy()

# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]


size_labels=pd.cut(schools_by_size['Total Students'], size_bins, labels=group_names)

schools_by_size["School Size"] = size_labels

school_size_grouped=schools_by_size.groupby(["School Size"])['Average Reading Score', 'Average Math Score', '% Passing Reading', '% Passing Math','% Overall Passing Rate'].mean()

school_size_grouped.style.set_caption("Scores by School Size")

In [12]:
#Testing numpy array method with different ranges

#Copy schools dataframe for modification
schools_by_size = schools.copy()

#Using numpy array method
titles = np.array(['0 to 1000', '1000 to 2000', '2000 to 5000'])

schools_by_size['Total Students'] = pd.cut(schools_by_size['Total Students'], 3, labels=titles )


school_size_grouped=schools_by_size.groupby(['Total Students'])['Average Reading Score', 'Average Math Score', '% Passing Reading', '% Passing Math','% Overall Passing Rate'].mean()

school_size_grouped.style.set_caption("Scores by School Size - Using Numpy array")

## Scores by School Type

* Perform the same operations as above, based on school type.

In [13]:
schools_by_type = schools.copy()

schools_by_type_grouped=schools_by_type.groupby(['School Type'])['Average Reading Score', 'Average Math Score', '% Passing Reading', '% Passing Math','% Overall Passing Rate'].mean()

schools_by_type_grouped.style.set_caption("Scores by School Type")